# Disable unused network subsystems
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set

# Disable NFS
# CONFIG_NFS_FS is not set

# Disable platform specific drivers
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_MACINTOSH_DRIVERS is not set
# CONFIG_X86_PLATFORM_DEVICES is not set

# Disable most network drivers, set them later
# CONFIG_ETHERNET is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_PHYLIB is not set
# CONFIG_MDIO_DEVICE is not set

# Disable unneeded input
# CONFIG_INPUT_EVDEV is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_MOUSE is not set

# Disable unneeded output
# CONFIG_SOUND is not set
# CONFIG_DRM_I915 is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_NEW_LEDS is not set

# Disable unneeded IO
# CONFIG_USB_SUPPORT is not set
# CONFIG_PCCARD is not set
# CONFIG_HID is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set

# Disable unneeded block, manually enable what is needed
# CONFIG_BLK_DEV is not set
# CONFIG_ATA is not set
# CONFIG_SCSI_PROC_FS is not set
# CONFIG_BLK_DEV_SD is not set
# CONFIG_BLK_DEV_SR is not set
# CONFIG_CHR_DEV_SG is not set
# CONFIG_SCSI_SPI_ATTRS is not set
# CONFIG_SCSI_LOWLEVEL is not set
# CONFIG_SCSI_CONSTANTS is not set

# Disable network drivers, enable what is needed
# CONFIG_NETDEVICES is not set

# Disable unneeded debug
# CONFIG_PNP_DEBUG_MESSAGES is not set

# Disable virtualization
# CONFIG_VIRTUALIZATION is not set

# The following are implied by the above:
# CONFIG_CFG80211 is not set
# CONFIG_MAC80211 is not set
# CONFIG_MAC80211_LEDS is not set
# CONFIG_NET_9P_VIRTIO is not set
# CONFIG_YENTA is not set
# CONFIG_SCSI_VIRTIO is not set
# CONFIG_SATA_AHCI is not set
# CONFIG_ATA_PIIX is not set
# CONFIG_PATA_AMD is not set
# CONFIG_PATA_OLDPIIX is not set
# CONFIG_PATA_SCH is not set
# CONFIG_MAC_EMUMOUSEBTN is not set
# CONFIG_TIGON3 is not set
# CONFIG_NET_TULIP is not set
# CONFIG_E100 is not set
# CONFIG_E1000 is not set
# CONFIG_E1000E is not set
# CONFIG_SKY2 is not set
# CONFIG_FORCEDETH is not set
# CONFIG_8139TOO is not set
# CONFIG_R8169 is not set
# CONFIG_DRM_VIRTIO_GPU is not set
# CONFIG_SND is not set
# CONFIG_SND_HRTIMER is not set
# CONFIG_SND_SEQUENCER is not set
# CONFIG_SND_SEQ_DUMMY is not set
# CONFIG_SND_HDA_INTEL is not set
# CONFIG_SND_HDA_HWDEP is not set
# CONFIG_HIDRAW is not set
# CONFIG_HID_GYRATION is not set
# CONFIG_LOGITECH_FF is not set
# CONFIG_HID_NTRIG is not set
# CONFIG_HID_PANTHERLORD is not set
# CONFIG_PANTHERLORD_FF is not set
# CONFIG_HID_PETALYNX is not set
# CONFIG_HID_SAMSUNG is not set
# CONFIG_HID_SONY is not set
# CONFIG_HID_SUNPLUS is not set
# CONFIG_HID_TOPSEED is not set
# CONFIG_HID_PID is not set
# CONFIG_USB_HIDDEV is not set
# CONFIG_USB is not set
# CONFIG_USB_ANNOUNCE_NEW_DEVICES is not set
# CONFIG_USB_MON is not set
# CONFIG_USB_XHCI_HCD is not set
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_USB_UHCI_HCD is not set
# CONFIG_USB_PRINTER is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_VIRTIO_PCI is not set
# CONFIG_VIRTIO_INPUT is not set
# CONFIG_EEEPC_LAPTOP is not set
# CONFIG_NFS_V3_ACL is not set
# CONFIG_NFS_V4 is not set
# CONFIG_ROOT_NFS is not set
# CONFIG_9P_FS is not set
#
# Including to make output easier to read
