# Disable unused network subsystems
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set

# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set

# Disable NFS
# CONFIG_NFS_FS is not set

# Disable platform specific drivers
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_MACINTOSH_DRIVERS is not set

# Disable most network drivers, set them later
# CONFIG_ETHERNET is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_PHYLIB is not set
# CONFIG_MDIO_DEVICE is not set

# Disable unneeded input
# CONFIG_INPUT_EVDEV is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_MOUSE is not set

# Disable unneeded output
# CONFIG_SOUND is not set
# CONFIG_DRM_I915 is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_NEW_LEDS is not set

# Disable unneeded IO
# CONFIG_USB_SUPPORT is not set
# CONFIG_PCCARD is not set
# CONFIG_HID is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set

# Disable unneeded block, manually enable what is needed
# CONFIG_ATA is not set
# CONFIG_SCSI_PROC_FS is not set
# CONFIG_BLK_DEV_SD is not set
# CONFIG_BLK_DEV_SR is not set
# CONFIG_CHR_DEV_SG is not set
# CONFIG_SCSI_SPI_ATTRS is not set
# CONFIG_SCSI_LOWLEVEL is not set
# CONFIG_SCSI_CONSTANTS is not set
