# IPMI
# SMBus Handler
CONFIG_IPMI_SSIF=y
# IPIM ACPI Management
CONFIG_ACPI_IPMI=y
# IPMI System interface handler
CONFIG_IPMI_SI=y
# IPMI Character device interface
CONFIG_IPMI_DEVICE_INTERFACE=y

# Board
# i2c
CONFIG_I2C_PIIX4=y

# Processor/chipset
# AMD Temp sensor
CONFIG_SENSORS_K10TEMP=y
# AMD PassThru DMA engine
CONFIG_AMD_PTDMA=y
# Let the knerenl control processor frequency/pstates
CONFIG_X86_ACPI_CPUFREQ=y
# Enable block devices
CONFIG_BLK_DEV=y
#NVME Support
CONFIG_BLK_DEV_NVME=y


# Networking
CONFIG_NETDEVICES=y
CONFIG_DCA=y
# Enable ethernet drivers
CONFIG_ETHERNET=y
# Enable intel devices
CONFIG_NET_VENDOR_INTEL=y
# Intel 10gbe driver 
CONFIG_IXGBE=y
