# Trim module symbols
CONFIG_TRIM_UNUSED_KSYMS=y
# CONFIG_INET_TCP_DIAG is not set
# CONFIG_INET_UDP_DIAG is not set
# CONFIG_INET_RAW_DIAG is not set
# CONFIG_INET_DIAG_DESTROY is not set
# CONFIG_INET_MPTCP_DIAG is not set

# Disable initramfs
# CONFIG_BLK_DEV_INITRD is not set

# Disable suspend
# CONFIG_SUSPEND is not set
# CONFIG_HIBERNATION is not set
# CONFIG_SUSPEND_FREEZER is not set
# CONFIG_HIBERNATE_CALLBACKS is not set
# CONFIG_FW_CACHE is not set
# CONFIG_PM_SLEEP is not set
# CONFIG_PM_SLEEP_SMP is not set
# CONFIG_PM_TEST_SUSPEND is not set
# CONFIG_VT_CONSOLE_SLEEP is not set
# Disable power debugging
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_TRACE is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_PM_TRACE_RTC is not set
# Disable unused acpi 
# CONFIG_ACPI_SLEEP is not set
# CONFIG_ACPI_AC is not set
# CONFIG_ACPI_BATTERY is not set
# CONFIG_ACPI_BUTTON is not set
# CONFIG_ACPI_DOCK is not set
# CONFIG_ACPI_IPMI is not set
# CONFIG_ACPI_THERMAL is not set
# CONFIG_ACPI_BGRT is not set
# CONFIG_ACPI_PCC is not set
# CONFIG_ACPI_PRMT is not set
# CONFIG_ACPI_FAN is not set
# CONFIG_X86_AMD_PSTATE is not set
# CONFIG_X86_INTEL_PSTATE is not set
# CONFIG_X86_ACPI_CPUFREQ is not set
# CONFIG_CPU_FREQ_GOV_ONDEMAND is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set
# CONFIG_INTEL_RAPL is not set
# CONFIG_INTEL_RAPL_CORE is not set

# Disable platform/processor specific support
# CONFIG_HYPERVISOR_GUEST is not set
# CONFIG_PARAVIRT is not set
# CONFIG_PVPANIC is not set
# CONFIG_X86_MCE_INTEL is not set
# CONFIG_X86_MCE_AMD is not set
# CONFIG_MICROCODE is not set
# CONFIG_MICROCODE_INTEL is not set
# CONFIG_MICROCODE_AMD is not set
# CONFIG_PERF_EVENTS_INTEL_UNCORE is not set
# CONFIG_PERF_EVENTS_INTEL_RAPL is not set
# CONFIG_PERF_EVENTS_INTEL_CSTATE is not set
# CONFIG_PERF_EVENTS_AMD_UNCORE is not set
# CONFIG_X86_SGX is not set
# CONFIG_X86_INTEL_TSX_MODE_OFF is not set
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set
# CONFIG_CPU_SUP_AMD is not set
# CONFIG_I2C_I801 is not set
# CONFIG_IA32_FEAT_CTL is not set
# CONFIG_CPU_IBRS_ENTRY is not set
# CONFIG_INTEL_IDLE is not set
# CONFIG_X86_VMX_FEATURE_NAMES is not set
# CONFIG_X86_PLATFORM_DRIVERS_DELL is not set
# CONFIG_INTEL_PMC_CORE is not set
# CONFIG_INTEL_SMARTCONNECT is not set
# CONFIG_INTEL_TURBO_MAX_3 is not set
# CONFIG_INTEL_SCU_IPC is not set
# CONFIG_INTEL_SCU is not set
# CONFIG_INTEL_SCU_PCI is not set
# CONFIG_INTEL_IOATDMA is not set
# CONFIG_DCA is not set

# Disable unused network subsystems
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set

# Disable NFS
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_NFS_FS is not set
# CONFIG_NFS_V3_ACL is not set
# CONFIG_NFS_V4 is not set
# CONFIG_ROOT_NFS is not set
# CONFIG_9P_FS is not set

# Disable platform specific drivers
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_MACINTOSH_DRIVERS is not set
# CONFIG_X86_PLATFORM_DEVICES is not set
# CONFIG_EEEPC_LAPTOP is not set

# Disable most network drivers, set them later
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_PHYLIB is not set
# CONFIG_MDIO_DEVICE is not set
# CONFIG_NET_FC is not set

# Enable ethernet core
# Disable ethernet driver vendors
# Enable the driver you use manually
# CONFIG_NET_VENDOR_3COM is not set
# CONFIG_NET_VENDOR_ADAPTEC is not set
# CONFIG_NET_VENDOR_AGERE is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_ALTEON is not set
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_AMD is not set
# CONFIG_NET_VENDOR_AQUANTIA is not set
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_VENDOR_ASIX is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_CADENCE is not set
# CONFIG_NET_VENDOR_CAVIUM is not set
# CONFIG_NET_VENDOR_CHELSIO is not set
# CONFIG_NET_VENDOR_CISCO is not set
# CONFIG_NET_VENDOR_CORTINA is not set
# CONFIG_NET_VENDOR_DAVICOM is not set
# CONFIG_NET_VENDOR_DEC is not set
# CONFIG_NET_VENDOR_DLINK is not set
# CONFIG_NET_VENDOR_EMULEX is not set
# CONFIG_NET_VENDOR_ENGLEDER is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FUNGIBLE is not set
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_HUAWEI is not set
# CONFIG_NET_VENDOR_I825XX is not set
# CONFIG_NET_VENDOR_INTEL is not set
# CONFIG_NET_VENDOR_WANGXUN is not set
# CONFIG_NET_VENDOR_LITEX is not set
# CONFIG_NET_VENDOR_MARVELL is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_MICROSOFT is not set
# CONFIG_NET_VENDOR_MYRI is not set
# CONFIG_NET_VENDOR_NI is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETERION is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_NVIDIA is not set
# CONFIG_NET_VENDOR_OKI is not set
# CONFIG_NET_VENDOR_PACKET_ENGINES is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_BROCADE is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RDC is not set
# CONFIG_NET_VENDOR_REALTEK is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SILAN is not set
# CONFIG_NET_VENDOR_SIS is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_SOCIONEXT is not set
# CONFIG_NET_VENDOR_STMICRO is not set
# CONFIG_NET_VENDOR_SUN is not set
# CONFIG_NET_VENDOR_SYNOPSYS is not set
# CONFIG_NET_VENDOR_TEHUTI is not set
# CONFIG_NET_VENDOR_TI is not set
# CONFIG_NET_VENDOR_VERTEXCOM is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_NET_VENDOR_XILINX is not set
# CONFIG_NET_VENDOR_8390 is not set
# CONFIG_NET_VENDOR_XIRCOM is not set

# Disable unneeded driver categories
# CONFIG_PCMCIA is not set
# CONFIG_PCMCIA_LOAD_CIS is not set
# CONFIG_CARDBUS is not set

# Disable unneeded input
# CONFIG_INPUT_EVDEV is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_MOUSE_PS2 is not set
# CONFIG_MOUSE_PS2_ALPS is not set
# CONFIG_MOUSE_PS2_BYD is not set
# CONFIG_MOUSE_PS2_LOGIPS2PP is not set
# CONFIG_MOUSE_PS2_SYNAPTICS is not set
# CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS is not set
# CONFIG_MOUSE_PS2_CYPRESS is not set
# CONFIG_MOUSE_PS2_LIFEBOOK is not set
# CONFIG_MOUSE_PS2_TRACKPOINT is not set
# CONFIG_MOUSE_PS2_ELANTECH is not set
# CONFIG_MOUSE_PS2_ELANTECH_SMBUS is not set
# CONFIG_MOUSE_PS2_SENTELIC is not set
# CONFIG_MOUSE_PS2_FOCALTECH is not set
# CONFIG_MOUSE_PS2_VMMOUSE is not set
# CONFIG_MOUSE_PS2_SMBUS is not set

# Disable unneeded output
# CONFIG_AGP is not set
# CONFIG_AGP_AMD64 is not set
# CONFIG_AGP_INTEL is not set
# CONFIG_SOUND is not set
# CONFIG_SND is not set
# CONFIG_SND_HRTIMER is not set
# CONFIG_SND_SEQUENCER is not set
# CONFIG_SND_SEQ_DUMMY is not set
# CONFIG_SND_HDA_INTEL is not set
# CONFIG_SND_HDA_HWDEP is not set
# CONFIG_DRM_I915 is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# LED
# CONFIG_NEW_LEDS is not set
# CONFIG_USB_LED_TRIG is not set
# CONFIG_USB_OHCI_HCD_PCI is not set
# CONFIG_LEDS_CLASS is not set
# CONFIG_LEDS_BRIGHTNESS_HW_CHANGED is not set
# CONFIG_LEDS_TRIGGERS is not set
# CONFIG_LEDS_TRIGGER_DISK is not set
# CONFIG_LEDS_TRIGGER_PANIC is not set
# CONFIG_LED_TRIGGER_PHY is not set
# Serial
# CONFIG_SERIAL_8250_PERICOM is not set
# CONFIG_SERIAL_8250_MID is not set
# CONFIG_SERIAL_8250_LPSS is not set
# CONFIG_SERIAL_8250_RSA is not set
# CONFIG_SERIAL_8250_DETECT_IRQ is not set
# CONFIG_SERIAL_8250_MANY_PORTS is not set
# CONFIG_SERIAL_8250_EXTENDED is not set
# CONFIG_SERIAL_8250_EXAR is not set
# CONFIG_SERIAL_8250_PCI is not set
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_NONSTANDARD is not set
# CONFIG_SERIAL_8250_SHARE_IRQ is not set

# Disable unneeded IO
# CONFIG_USB_SUPPORT is not set
# CONFIG_PCCARD is not set
# CONFIG_HID is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_HIDRAW is not set
# CONFIG_HID_GYRATION is not set
# CONFIG_LOGITECH_FF is not set
# CONFIG_HID_NTRIG is not set
# CONFIG_HID_PANTHERLORD is not set
# CONFIG_PANTHERLORD_FF is not set
# CONFIG_HID_PETALYNX is not set
# CONFIG_HID_SAMSUNG is not set
# CONFIG_HID_SONY is not set
# CONFIG_HID_SUNPLUS is not set
# CONFIG_HID_TOPSEED is not set
# CONFIG_HID_PID is not set
# CONFIG_USB_HIDDEV is not set
# CONFIG_USB is not set
# CONFIG_USB_ANNOUNCE_NEW_DEVICES is not set
# CONFIG_USB_MON is not set
# CONFIG_USB_XHCI_HCD is not set
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_USB_UHCI_HCD is not set
# CONFIG_USB_PRINTER is not set
# CONFIG_USB_STORAGE is not set

# Disable unneeded block, manually enable what is needed
# CONFIG_MD is not set
# CONFIG_BLK_DEV is not set
# CONFIG_VIRTIO_BLK is not set
# CONFIG_BLK_DEV_LOOP is not set
# CONFIG_ATA is not set
# CONFIG_ATA_BMDMA is not set
# CONFIG_SCSI_VIRTIO is not set
# CONFIG_SATA_AHCI is not set
# CONFIG_ATA_PIIX is not set
# CONFIG_PATA_AMD is not set
# CONFIG_PATA_OLDPIIX is not set
# CONFIG_PATA_SCH is not set
# CONFIG_SCSI_PROC_FS is not set
# CONFIG_BLK_DEV_SD is not set
# CONFIG_BLK_DEV_SR is not set
# CONFIG_CHR_DEV_SG is not set
# CONFIG_SCSI_SPI_ATTRS is not set
# CONFIG_SCSI_LOWLEVEL is not set
# CONFIG_SCSI_CONSTANTS is not set

# Disable SWAP
# CONFIG_SWAP is not set

# Disable extra FS
# CONFIG_MISC_FILESYSTEMS is not set

# Disable network drivers, enable what is needed
# CONFIG_NETDEVICES is not set
# CONFIG_USB_USBNET is not set
# CONFIG_USB_NET_CDCETHER is not set
# CONFIG_USB_NET_RNDIS_HOST is not set
# CONFIG_USB_RTL8153_ECM is not set

# Disable wireless
# CONFIG_WEXT_CORE is not set
# CONFIG_WEXT_PROC is not set
# CONFIG_CFG80211_REQUIRE_SIGNED_REGDB is not set
# CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS is not set
# CONFIG_CFG80211_DEFAULT_PS is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set
# CONFIG_CFG80211_WEXT is not set
# CONFIG_MAC80211_STA_HASH_MAX_SIZE is not set
# CONFIG_RFKILL_LEDS is not set
# CONFIG_RFKILL_INPUT is not set
# CONFIG_WLAN_VENDOR_ATH is not set
# CONFIG_ATH5K_PCI is not set
# CONFIG_WLAN_VENDOR_BROADCOM is not set
# CONFIG_WLAN_VENDOR_INTEL is not set
# CONFIG_WLAN_VENDOR_INTERSIL is not set
# CONFIG_WLAN_VENDOR_MARVELL is not set
# CONFIG_WLAN_VENDOR_MEDIATEK is not set
# CONFIG_WLAN_VENDOR_MICROCHIP is not set
# CONFIG_WLAN_VENDOR_RALINK is not set
# CONFIG_WLAN_VENDOR_REALTEK is not set
# CONFIG_WLAN_VENDOR_RSI is not set
# CONFIG_WLAN_VENDOR_ST is not set
# CONFIG_WLAN_VENDOR_TI is not set
# CONFIG_WLAN_VENDOR_ZYDAS is not set
# CONFIG_WLAN_VENDOR_QUANTENNA is not set


# Disable unneeded debug
# CONFIG_PNP_DEBUG_MESSAGES is not set

# Disable virtualization
# CONFIG_VIRTUALIZATION is not set
# CONFIG_GUEST_PERF_EVENTS is not set
# CONFIG_PARAVIRT_XXL is not set
# CONFIG_PARAVIRT_SPINLOCKS is not set
# CONFIG_X86_HV_CALLBACK_VECTOR is not set
# CONFIG_SYS_HYPERVISOR is not set
# CONFIG_XEN is not set
# CONFIG_XEN_PV is not set
# CONFIG_XEN_512GB is not set
# CONFIG_XEN_PV_SMP is not set
# CONFIG_XEN_PV_DOM0 is not set
# CONFIG_XEN_PVHVM is not set
# CONFIG_XEN_PVHVM_SMP is not set
# CONFIG_XEN_PVHVM_GUEST is not set
# CONFIG_XEN_SAVE_RESTORE is not set
# CONFIG_XEN_DEBUG_FS is not set
# CONFIG_XEN_PVH is not set
# CONFIG_XEN_DOM0 is not set
# CONFIG_XEN_PV_MSR_SAFE is not set
# CONFIG_XEN_FBDEV_FRONTEND is not set
# CONFIG_KVM_GUEST is not set
# CONFIG_ARCH_CPUIDLE_HALTPOLL is not set
# CONFIG_PVH is not set
# CONFIG_PARAVIRT_TIME_ACCOUNTING is not set
# CONFIG_PARAVIRT_CLOCK is not set
# CONFIG_ACRN_GUEST is not set
# CONFIG_PCI_XEN is not set
# CONFIG_HAVE_KVM_PFNCACHE is not set
# CONFIG_HAVE_KVM_IRQCHIP is not set
# CONFIG_HAVE_KVM_IRQFD is not set
# CONFIG_HAVE_KVM_IRQ_ROUTING is not set
# CONFIG_HAVE_KVM_DIRTY_RING is not set
# CONFIG_HAVE_KVM_DIRTY_RING_TSO is not set
# CONFIG_HAVE_KVM_DIRTY_RING_ACQ_REL is not set
# CONFIG_HAVE_KVM_EVENTFD is not set
# CONFIG_KVM_MMIO is not set
# CONFIG_KVM_ASYNC_PF is not set
# CONFIG_HAVE_KVM_MSI is not set
# CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT is not set
# CONFIG_KVM_VFIO is not set
# CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT is not set
# CONFIG_KVM_COMPAT is not set
# CONFIG_HAVE_KVM_IRQ_BYPASS is not set
# CONFIG_HAVE_KVM_NO_POLL is not set
# CONFIG_KVM_XFER_TO_GUEST_WORK is not set
# CONFIG_HAVE_KVM_PM_NOTIFIER is not set
# CONFIG_KVM is not set
# CONFIG_KVM_AMD is not set
# CONFIG_KVM_AMD_SEV is not set
# CONFIG_KVM_XEN is not set
# CONFIG_VIRTIO_PCI_LIB is not set
# CONFIG_VIRTIO_PCI_LIB_LEGACY is not set
# CONFIG_VIRTIO_PCI_LEGACY is not set
# CONFIG_XEN_BALLOON is not set
# CONFIG_XEN_MEMORY_HOTPLUG_LIMIT is not set
# CONFIG_XEN_SCRUB_PAGES_DEFAULT is not set
# CONFIG_XEN_BACKEND is not set
# CONFIG_XEN_SYS_HYPERVISOR is not set
# CONFIG_XEN_XENBUS_FRONTEND is not set
# CONFIG_SWIOTLB_XEN is not set
# CONFIG_XEN_HAVE_PVMMU is not set
# CONFIG_XEN_EFI is not set
# CONFIG_XEN_AUTO_XLATE is not set
# CONFIG_XEN_ACPI is not set
# CONFIG_XEN_HAVE_VPMU is not set
# CONFIG_XEN_UNPOPULATED_ALLOC is not set
# CONFIG_HVC_IRQ is not set
# CONFIG_HVC_XEN is not set
# CONFIG_HVC_XEN_FRONTEND is not set

# The following are implied by the above:
# CONFIG_CFG80211 is not set
# CONFIG_MAC80211 is not set
# CONFIG_MAC80211_LEDS is not set
# CONFIG_NET_9P_VIRTIO is not set
# CONFIG_YENTA is not set
# CONFIG_MAC_EMUMOUSEBTN is not set
# CONFIG_TIGON3 is not set
# CONFIG_NET_TULIP is not set
# CONFIG_E100 is not set
# CONFIG_E1000 is not set
# CONFIG_E1000E is not set
# CONFIG_SKY2 is not set
# CONFIG_FORCEDETH is not set
# CONFIG_8139TOO is not set
# CONFIG_R8169 is not set
# CONFIG_DRM_VIRTIO_GPU is not set
# CONFIG_VIRTIO_PCI is not set
# CONFIG_VIRTIO_INPUT is not set

# Including to make output easier to read
