# IPMI
# SMBus Handler
CONFIG_IPMI_SSIF=y
# IPIM ACPI Management
CONFIG_ACPI_IPMI=y
# IPMI System interface handler
CONFIG_IPMI_SI=y
# IPMI Character device interface
CONFIG_IPMI_DEVICE_INTERFACE=y
INPUT_JOYDEV=y

# Board
# i2c
CONFIG_I2C_PIIX4=y
# i2c bitbanging
CONFIG_I2C_ALGOBIT=y
# Gyro sensor?
CONFIG_ITG3200=y
# Enable pc speakcer
CONFIG_PCSPKR_PLATFORM=y

# Processor/chipset
# AMD Temp sensor
CONFIG_SENSORS_K10TEMP=y
# AMD PassThru DMA engine
CONFIG_AMD_PTDMA=y
# Let the knerenl control processor frequency/pstates
CONFIG_X86_ACPI_CPUFREQ=y
# Enable AMD virtualization
CONFIG_KVM_AMD=y
# Enable AMD hardware crypto devices
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_CRYPTO_DEV_CCP_DD=y
CONFIG_CRYPTO_DEV_SP_CCP=y
CONFIG_CRYPTO_DEV_CCP_CRYPTO=y
CONFIG_CRYPTO_DEV_SP_PSP=y
# Watchdog
CONFIG_SP5100_TCO=y

# Display
CONIFG_DRM=y
CONFIG_DRM_TTM=y
CONFIG_DRM_TTM_HELPER=y
CONFIG_DRM_AST=y
CONFIG_DRM_VRAM_HELPER=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_CEC_CORE=y
# Framebuffer outut
CONFIG_FB=y
CONFIG_FB_EFI=y

# Networking
CONFIG_NETDEVICES=y
CONFIG_DCA=y
# Enable ethernet drivers
CONFIG_ETHERNET=y
# Enable intel devices
CONFIG_NET_VENDOR_INTEL=y
# Intel 10gbe driver 
CONFIG_IXGBE=y
# Misc
CONFIG_MDIO=y
# Bridge support
CONFIG_BRIDGE=y
# VLAN support
CONFIG_VLAN_8021Q=y
CONFIG_GARP=y
CONFIG_LLC=y
CONFIG_STP=y

# Storage
# Enable RAID support
CONFIG_CONFIG_MD=y
# Enable block devices
CONFIG_BLK_DEV=y
# NVME Support
CONFIG_BLK_DEV_NVME=y
# Enable SCSI
CONFIG_SCSI=y
SCSI_LOWLEVEL=y
# Disable unneeded modules
# CONFIG_SCSI_PROC_FS is not set 
CONFIG_SCSI_MPT3SAS=y
# USB
CONFIG_USB_SUPPORT=y
CONFIG_USB_PCI=y
CONFIG_USB=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
# USB 3
CONFIG_USB_XHCI_HCD=y
# USB 2
CONFIG_USB_EHCI_HCD=y
# USB Storage
CONFIG_USB_STORAGE=y

# Crypto
CONFIG_CRC32=y
CONFIG_CRYPTO_CRC32=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_CRC32_PCLMUL=y
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_USER=y

# Error detection and correction
CONFIG_RAS=y
CONFIG_EDAC=y
# CONFIG_EDAC_LEGACY_SYSFS is not set
CONFIG_EDAC_AMD64=y
