# Enable expert mode
CONFIG_EXPERT=y
# Enable ELF
CONFIG_BINFMT_ELF=y
# Defaults
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_FUTEX=y
CONFIG_FHANDLE=y
CONFIG_LOCALVERSION_AUTO=y
# Allow BSD process accounting
CONFIG_BSD_PROCESS_ACCT=y
# Allow memory compaction
CONFIG_COMPACTION=y
# Enable proc fs
CONFIG_PROC_FS=y
# Simpler wchan values
CONFIG_SCHED_OMIT_FRAME_POINTER=y
# Enable sysctl support
CONFIG_PROC_SYSCTL=y
# Enable the rseq syscall
CONFIG_RSEQ=y
# Enable IO urings
CONFIG_IO_URING=y
# Enable madvise and fadvise syscalls
CONFIG_ADVISE_SYSCALLS=y
# Enable memory barriers
CONFIG_MEMBARRIER=y
# Enable devtpmfs automounting
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVTMPFS_SAFE=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
# Don't use drivers which need external firmware
CONFIG_PREVENT_FIRMWARE_BUILD=y
CONFIG_STANDALONE=y
# Timers config
CONFIG_POSIX_TIMERS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_NO_HZ=y
CONFIG_HZ=1000
CONFIG_HZ_1000=y
# Enable mulitiuser mode
CONFIG_MULTIUSER=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_DNOTIFY=y
# Enable processor selection
CONFIG_PROCESSOR_SELECT=y
# Enable CPU isolation
CONFIG_CPU_ISOLATION=y
# Trim module symbols
CONFIG_TRIM_UNUSED_KSYMS=y
# Enable module signing
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORMAT=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_ALL=y
CONFIG_MODULE_SIG_SHA512=y
CONFIG_MODULE_SIG_HASH="sha512"
CONFIG_MODULE_SIG_KEY="certs/signing_key.pem"
CONFIG_SYSTEM_DATA_VERIFICATION=y
# Enable module unloading (needed to track what is using modules)
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_UNLOAD_TAINT_TRACKING=y
# Enable input
CONFIG_INPUT=y
CONFIG_HID_GENERIC=y
CONFIG_HID=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
# Basic networking
CONFIG_NET=y
CONFIG_INET=y
CONFIG_UNIX=y

{% if 'ipv6' in features %}
# Enable IPv6 support
CONFIG_IPV6=y
{% endif %}

{% if 'initramfs' in features %}
# InitRD support
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_ACPI_TABLE_UPGRADE=y
{% endif %}

{% if efi_stub %}
CONFIG_EFI_STUB=y
CONFIG_CMDLINE_BOOL=y
{% if 'serial' in features %}
CONFIG_CMDLINE="root={{root_label}} ro earlyprintk console=tty0 console=tty{{serial_port}},115200n8"
{% else %}
CONFIG_CMDLINE="root={{root_label}} ro earlyprintk console=tty0"
{% endif %}
{% endif %}
