# Enable block devices
CONFIG_BLOCK=y
CONFIG_PARTITION_ADVANCED=y
# Enable EFI partitions
CONFIG_EFI=y
CONFIG_EFI_PARTITION=y
CONFIG_EFIVAR_FS=y
# Enable MSDOS partitions
CONFIG_MSDOS_PARTITION=y
# Enable btrfs
CONFIG_BTRFS_FS=y
# Selects
CONFIG_XOR_BLOCKS=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_LIBCRC32C=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_CRYPTO_SHA256=y
CONFIG_ZLIB_INFLATE=y
CONFIG_ZLIB_DEFLATE=y
CONFIG_LZO_COMPRESS=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_FS_IOMAP=y
CONFIG_RAID6_PQ=y
CONFIG_SRCU=y
# Enable ext4
CONFIG_EXT4_FS=y
{% if 'selinux' in features %}
CONFIG_EXT4_FS_SECURITY=y
{% endif %}
# Enable FAT support
CONFIG_VFAT_FS=y
CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_EXFAT_FS=y
# Character sets
CONIFG_NLS=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_DEFAULT="iso8859-1"
