# 64 bits
CONFIG_64BIT=y
# X86
CONFIG_X86_64=y
CONFIG_X86_MCE=y
CONFIG_X86_UMIP=y
CONFIG_X86_PM_TIMER=y
CONFIG_X86_CHECK_BIOS_CORRUPTION=y
CONFIG_X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK=y
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=y
# Display
CONFIG_X86_PAT=y
CONFIG_MTRR=y
CONFIG_MTRR_SANITIZER=y
# Clock related
CONFIG_HPET=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_HCTOSYS=y
CONFIG_RTC_HCTOSYS_DEVICE="rtc0"
CONFIG_RTC_SYSTOHC=y
CONFIG_RTC_SYSTOHC_DEVICE="rtc0"
CONFIG_RTC_INTF_SYSFS=y
CONFIG_RTC_INTF_PROC=y
CONFIG_RTC_INTF_DEV=y
CONFIG_COMMON_CLK=y
# Needed for motherboard identification
CONFIG_DMI=y
CONFIG_DMIID=y
CONFIG_X86_CPUID=y
# ACPI and scheduling
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_ACPI=y
CONFIG_ACPI_PRMT=y
CONFIG_ACPI_THERMAL=y
CONFIG_CPU_FREQ=y
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_X86_AMD_PSTATE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=y
# Multiprocessor support
CONFIG_SMP=y
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_PADATA=y
CONFIG_AIO=y
# Memory
CONFIG_ZONE_DMA=y
CONFIG_NUMA=y
CONFIG_MIGRATION=y
CONFIG_X86_64_ACPI_NUMA=y

