# Processor/chipset
CONFIG_PROCESSOR_SELECT=y
CONFIG_CPU_SUP_AMD=y
CONFIG_SCHED_CLUSTER=y
CONFIG_SCHED_MC=y
# AMD Temp sensor
CONFIG_HWMON=y
CONFIG_SENSORS_K10TEMP=y
CONFIG_THERMAL_HWMON=y
# AMD microcode
CONFIG_MICROCODE=y
CONFIG_MICROCODE_AMD=y
CONFIG_X86_MCE_AMD=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_PERF_EVENTS_AMD_POWER=y
CONFIG_PERF_EVENTS_AMD_UNCORE=y
CONFIG_PERF_EVENTS_AMD_BRS=y
# AMD PassThru DMA engine
CONFIG_AMD_PTDMA=y
# Platform/ACPI
CONFIG_X86_64=y
CONFIG_ACPI=y
CONFIG_X86_MCE=y
CONFIG_ACPI_PLATFORM_PROFILE=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_AMD_PMF=y
CONFIG_POWER_SUPPLY=y
# Let the knerenl control processor frequency/pstates
CONFIG_X86_ACPI_CPUFREQ=y
CONFIG_X86_ACPI_CPUFREQ_CPB=y
{% if 'virt' in features %}
# Enable AMD virtualization
CONFIG_KVM_AMD=y
{% endif %}
# Enable AMD hardware crypto devices
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_CRYPTO_DEV_CCP_DD=y
CONFIG_CRYPTO_DEV_SP_CCP=y
CONFIG_CRYPTO_DEV_CCP_CRYPTO=y
CONFIG_CRYPTO_DEV_SP_PSP=y
CONFIG_CRYPTO_SIMD=y
# DMA
CONFIG_DMADEVICES=y
CONFIG_AMD_PTDMA=y
# Secure memory encryption
CONFIG_AMD_MEM_ENCRYPT=y
# Machine clock
CONFIG_X86_MCE_AMD=y
# Enable chip iommu
CONFIG_AMD_IOMMU=y
CONFIG_AMD_IOMMU_V2=y

# Memory
CONFIG_ZONE_DMA=y
CONFIG_NUMA=y
CONFIG_MIGRATION=y
CONFIG_X86_64_ACPI_NUMA=y
# Error detection and correction
CONFIG_RAS=y
CONFIG_EDAC=y
CONFIG_EDAC_DECODE_MCE=y
# CONFIG_EDAC_LEGACY_SYSFS is not set
CONFIG_EDAC_AMD64=y

# Crypto
CONFIG_CRYPTO=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRC32=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_AES_TI=y
CONFIG_CRYPTO_CRC32=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_CRC32C_INTEL=y
CONFIG_CRYPTO_CRC32_PCLMUL=y
CONFIG_CRC_T10DIF=y
CONFIG_CRYPTO_CRCT10DIF_PCLMUL=y
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=y
CONFIG_CRYPTO_PCRYPT=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_CURVE25519_X86=y
CONFIG_CRYPTO_LIB_CURVE25519=y
CONFIG_CRYPTO_POLYVAL=y
CONFIG_CRYPTO_POLYVAL_CLMUL_NI=y
CONFIG_CRYPTO_SHA1=y
CONFIG_CRYPTO_SHA512_SSSE3=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_CHACHA20=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_ANSI_CPRNG=y
# Userspace
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_AEAD=y

# Branch optimization
CONFIG_JUMP_LABEL=y
