# Board
CONFIG_PCI=y
CONFIG_PCI_MMCONFIG=y
CONFIG_ACPI_WMI=y
# Serial
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_PNP=y
# Power
CONFIG_POWER_RESET=y
# Set server preemption
CONFIG_PREEMPT_NONE=y
# CONFIG_PREEMPT_VOLUNTARY is not set
# Enable large processor support
CONFIG_NR_CPUS_RANGE_BEGIN=2
CONFIG_NR_CPUS_RANGE_END=512
CONFIG_NR_CPUS=512

# Display
CONFIG_DRM=y
CONFIG_KCMP=y
# i2c for display
CONFIG_I2C=y
CONFIG_I2C_ALGOBIT=y
# FB
CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_DRM_FBDEV_EMULATION=y
# Selected by FBDEV emulation
CONFIG_FB_CFB_FILLRECT=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_DEFERRED_IO=y
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
# FB Console
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
# VGA Console
CONFIG_VGA_CONSOLE=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_EARLY_PRINTK=y
CONFIG_ACPI_SPCR_TABLE=y

# EFI
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_EFIVAR_FS=y

# Networking
CONFIG_NETDEVICES=y
CONFIG_NET=y
# Enable ethernet drivers
CONFIG_ETHERNET=y
CONFIG_PHYLIB=y
CONFIG_MDIO=y
CONFIG_MDIO_DEVICE=y
# Enable broadcom devices
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_REALTEK_PHY=y
CONFIG_R8169=y
