CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_INET=y
# enable the packet socket for tcpdump
CONFIG_PACKET=y
# Diags for ss
CONFIG_PACKET_DIAG=y
CONFIG_UNIX_DIAG=y
# ethtool support
CONFIG_ETHTOOL_NETLINK=y
# Enable wireguard support
CONFIG_WIREGUARD=y
CONFIG_CRYPTO_CHACHA20_X86_64=y
# Bridge support
CONFIG_BRIDGE=y
CONFIG_LLC=y
CONFIG_STP=y
# VLAN support
CONFIG_VLAN_8021Q=y
