# Enable auditing support
CONFIG_AUDIT=y
# Network
CONFIG_SECURITY_NETWORK=y
CONFIG_NETWORK_SECMARK=y
# Security modules
CONFIG_SECURITY=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
# CONFIG_SECURITY_SELINUX_AVC_STATS is not set
# Filesystem support
CONFIG_CONFIGFS_FS=y
CONFIG_SYSFS=y

# Disable ACLs
# CONFIG_EXT4_FS_POSIX_ACL is not set
# CONFIG_BTRFS_FS_POSIX_ACL is not set
