CONFIG_DM_CRYPT=y
# Depends
CONFIG_BLOCK=y
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_TRUSTED_KEYS=y
# Selects
CONFIG_BLK_DEV_DM_BUILTIN=y
CONFIG_BLK_MQ_STACKING=y
CONFIG_BLOCK_HOLDER_DEPRECATED=y
# Crypto
CONFIG_CRYPTO=y
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
# Depends
CONFIG_NET=y

# TODO:
# config_dm_init
