# Storage
# Enable block devices
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_SD=y
# Enable SCSI
CONFIG_SCSI=y
CONFIG_SCSI_SCAN_ASYNC=y
# Disable unneeded modules
# CONFIG_SCSI_PROC_FS is not set
# Disable unneeded modules
# SATA
CONFIG_ATA=y
CONFIG_SATA_HOST=y
CONFIG_SATA_PMP=y
CONFIG_ATA_VERBOSE_ERROR=y
# Disable IDE
# CONFIG_ATA_SFF is not set
CONFIG_ATA_ACPI=y
CONFIG_SATA_AHCI=y
