CONFIG_DRM=y
CONFIG_DRM_NOUVEAU=y
# Selects
CONFIG_IOMMU_API=y
CONFIG_FW_LOADER=y
CONFIG_DRM_DISPLAY_DP_HELPER=y
CONFIG_DRM_DISPLAY_HDMI_HELPER=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_TTM=y
CONFIG_DRM_TTM_HELPER=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_X86_PLATFORM_DEVICES=y
CONFIG_ACPI_WMI=y
CONFIG_POWER_SUPPLY=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_INPUT=y
CONFIG_THERMAL=y
CONFIG_ACPI_VIDEO=y
# CONFIG_SND_HDA_COMPONENT is not set
